html, body {
    height: 100%;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #chat {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .box { 
    color: lightslategray;
    width: 300px;
    height: 600px;
    border: 1px solid #ddd;
    font-size: 18px;
    margin-right: 10px;
  }

  .title{
    width: 298px;
    height: 50px;
    padding: 0px 18px;
    color: lightslategray;
    background: rgb(248, 248, 248);
    padding-top: 10px;
  }

  .list{
    width: 298px;
    height: 550px;
    overflow: auto;
  }

  .userList {
    padding-left: 0;
    padding-bottom: 10px;
  }

  .userElement {
    list-style: none;
    border-top: 1px solid rgb(245, 245, 245);
    padding: 5px 10px;

    transition-duration: 0.2s;
    animation: fadeIn linear 0.4s;
  }

  .onCircle {
    height: 10px;
    width: 10px;
    margin-top: 10px;
    background-color: rgba(0, 153, 77, 0.5);
    border-radius: 50%;
    float: right;
  }

  .userElement:hover {
    font-size: larger;
    transition-duration: 0.2s;
    cursor: pointer;
  }
  
  .titlebox { 
    color: lightslategray;
    width: 600px;
    border: 1px solid #ddd;
    height: 50px;
    padding: 0 18px;
    font-size: 18px;
    padding-top: 10px;
  }

  .input-group {
    max-width: 600px;
  }

  textarea { 
    width: 527px;
    border: 1px solid #ddd;
    height: 50px;
    padding: 8px 16px;
    font-size: 14px;
  }
  
  .button {
    width: 600px;
    height: 50px;
    font-size: 14px;
    background: #069;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: #FFF;
    margin-top: 10px;
    border: none;
  }
  
  .messages {
    width: 600px;
    height: 400px;
    margin: 20px 0;
    border: 1px solid #ddd;
    padding: 20px;
    overflow: auto;
  }

  .notice {
    font-size: 12px;
    color: lightslategray;

    animation: fadeIn linear 0.4s;
  }

  .myMessage {
    background: rgb(241, 251, 255);
    color: #069;
    padding:10px;
    min-height:15px;
    margin-bottom:8px;
    position:relative;
    margin-left:40px;
    border-radius:5px;
    word-wrap: break-word;

    animation: fadeIn linear 0.4s;
  }

  .myMessage::after{
    content:"";
    position:absolute;
    width:0px;
    height:0px;
    border: 10px solid;
    border-color: transparent transparent transparent rgb(241, 251, 255);
    right:-20px;
    top:7px;
  }

  .othersMessage{
    position:relative;
    color: rgb(96, 110, 124);
    background: rgb(248, 248, 248);
    padding:10px;
    min-height:10px;
    margin-bottom:8px;
    margin-right:40px;
    border-radius:5px;
    word-wrap: break-word;

    animation: fadeIn linear 0.4s;
  }

  .othersMessage:before{
    content:"";
    position:absolute;
    width:0px;
    height:0px;
    border: 10px solid;
    border-color: transparent rgb(248, 248, 248) transparent transparent;
    left:-20px;
    top:7px;
  }

  .hours{
    float: right;
    margin-right: 10px;
    color: lightslategray;
  }

  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }